@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.main {}

.body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Pacifico';
 font-size: 2rem;
 font-weight: 300;
}

.topbar {
 margin: 20px 20px;
 height: 50px;
 display: flex;
 width: 95%;
 justify-content: space-between;
 align-items: center;
}

.topbarLeft {
 display: flex;
 justify-content: center;
 width: 10%;
 font-family: 'Gothic A1';
 font-size: 1.5vw;
 font-weight: bold;
}

.topbarRight {
 width: 32%;
 display: flex;
 font-family: 'Roboto';
 font-size: 1vw;
 font-weight: bold;
 justify-content: space-evenly;
}


.projectpageTitle {
 font-size: 2vw;
}

.projects {
 margin-top: 50px;
 display: flex;
 flex-direction: column;
}

.project {
 margin: 10px 0px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.projectText {
 width: 45%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Gothic A1';
 font-size: 3rem;
 font-weight: bold;
}

.Topic {
 color: rgb(0, 79, 197);
 font-size: 2vw;
}

.paragraph {
 margin: 10px 0px;
 display: flex;
 width: 45%;
 font-size: 1vw;
 font-family: 'Roboto';
 font-weight: 300;
 color: rgb(27, 27, 27);
 line-height: 1.6;
 text-align: center;
}

.projectDisplay {
 width: 45%;
 display: flex;
 justify-content: center;

}

.techStackLogo {
 height: 3.8vh;
 width: auto;
 margin: 10px 30px;
}

.project img {
 border-radius: 15px;
}

.projectpng {
 width: 50vw;
 height: auto;
}


@media screen and (max-width: 450px) {

 .topbarLeft {
  font-size: 3.5vw;
 }

 .topbarRight {
  width: 55%;
  display: flex;
  font-family: 'Roboto';
  font-size: 3vw;
  font-weight: bold;
  justify-content: space-evenly;
 }

 .projectpageTitle {
  font-size: 5vw;
 }

 .logo {
  margin-left: 5px;
  width: 3vw;
  height: auto;
 }

 .body {
  margin-top: 0px;
 }

 .projectDisplay {
  width: 48%;
 }

 .projectText {
  width: 48%;
 }

 .paragraph {
  width: 90%;
 }

 .bodyBottom {
  margin-top: 0px;

 }
}